<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>account</title>
    <link rel="stylesheet" href="/stylesheet/account.css">
</head>
<body>
    <div class="main">
        <div class="logout">
            <button><a href="/logut" class="atag">logOut</a></button>
        </div>

        <div class="all-de">
            <div class="img">
                <div class="img-car">
                    <img src="/images/image 1.png" alt="">
                </div>
            </div>
            <h1><%=user.username%></h1>
            <h3><%= user.email %></h3>
            <h1><a href="" class="atag m-[100px]">Home</a></h1>
        </div>
    </div>
</body>
</html>