<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Maruf dev</title>
    <link rel="stylesheet" href="/stylesheet/style.css" />
  </head>
  <body>
    <div class="main">
      <div class="header">
        <div class="image">
          <img src="/images/Maruf dev.png" alt="" />
        </div>
        <nav>
          <ul>
            <li><a href="#Home" class="atag">Home</a></li>
            <li><a href="/account" class="atag">About</a></li>
            <li><a href="#about" class="atag">Work</a></li>
            <li><a href="/login" class="atag">login</a></li>
          </ul>
        </nav>
      </div>
      <div class="page1" id="Home">
        <div class="left">
          <h1><span>We</span> can <span>make</span> websites</h1>
          <p>
            As a seasoned web developer, I have honed my skills in front-end
            <br />
            and back-end development, proficient in languages such as
            <span
              >HTML, CSS,<br />
              JavaScript, and node js</span
            >. My journey in web development has equipped <br />
            me with a keen eye for design aesthetics, ensuring that every
            website I <br />
            create not only functions flawlessly but also captivates users with
            its <br />
            visual appeal.
          </p>
          <button>read more 🡲</button>
        </div>
        <div class="right">
          <img src="/images/img1.png" alt="" />
        </div>
      </div>
      <div class="page2" id="about">
        <div class="left">
          <img src="/images/img2.png" alt="" />
        </div>
        <div class="right">
          <h1><span>My</span> Identity</h1>
          <p>
            As a seasoned web developer, I have honed my skills in front-end
            <br />
            and back-end development, proficient in languages such as
            <span
              >HTML, CSS,<br />
              JavaScript, and node js</span
            >. My journey in web development has equipped <br />
            me with a keen eye for design aesthetics, ensuring that every
            website I <br />
            create not only functions flawlessly but also captivates users with
            its <br />
            visual appeal.
          </p>
          <button>read more 🡲</button>
        </div>
      </div>
      <div class="page3">
        <div class="all-con">
          <div class="con-1">
            <img src="/images/icon1.png" alt="icon123" />
            <h1>Coding experience</h1>
            <p>The more you practice, <br> the more you will <br> expandvk</p>
          </div>
          <div class="con-1">
            <img src="/images/icon3.png" alt="icon123" />
            <h1>Ui Design</h1>
            <p>Create a beautiful design <br> for the website</p>
          </div>
          <div class="con-1">
            <img src="/images/icon2.png" alt="icon123" />
            <h1>backend developer</h1>
            <p>The main party of a <br> website is its back end <br> development</p>
          </div>
        </div>
      </div>
      <div class="page4">
        <div class="contact-us">
          <form action="/contact" method="post">
            <h1>contact us</h1>
            <div>
              <input type="email" name="email" placeholder="Enter your email..">
            </div>
            <div>
              <input type="text" name="subject" placeholder="Enter your subject..">
            </div>
            <div>
              <input type="text" name="message" class="message" placeholder="Enter your message..">
            </div>
            <button type="submit">submit</button>
          </form>
        </div>
      </div>
      <div class="futter">
        <img src="/images/qr.png" alt="">
        <div>
          <h1>Email:- marufmursalin28@gmail.com</h1>
          <h1>phone:-01929887974,01757164141</h1>
          <h1>facebook:- MD Maruf Mursalin</h1>
        </div>
        <div class="sm-icon">
          <a href="#"><img src="/images/Facebook.png" alt=""></a>
          <a href="#"><img src="/images/Youtube.png" alt=""></a>
        </div>
        <div>
          <ul>
          <li><a href="#Home" class="atag">Home</a></li>
          <li><a href="#about" class="atag">Work</a></li>
          <li><a href="#" class="atag">About</a></li>
          <li><a href="#" class="atag">login</a></li>
        </ul></div>
      </div>
    </div>
  </body>
</html>
