<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maruf dev | login page</title>
    <link rel="stylesheet" href="/stylesheet/login.css">
</head>
<body>

    <div class="main">
        <div class="header">
            <div class="image">
              <img src="/images/Maruf dev.png" alt="" />
            </div>
            <nav>
              <ul>
                <li><a href="/" class="atag">Home</a></li>
                <li><a href="#" class="atag">Work</a></li>
                <li><a href="#" class="atag">About</a></li>
                <li><a href="#" class="atag">login</a></li>
              </ul>
            </nav>
          </div>
        <div class="page1">
            <form action="/login/create" method="post">
                <h1>login</h1>
                <div>
                    <input type="email" name="email" placeholder="Enter your email..">
                </div>
                <div>
                    <input type="password" name="password" placeholder="Enter your password..">
                </div>
                <button type="submit">login</button>
            </form>
            <h1><a href="/sing-up" class="atag sing_up">sing up</a></h1>
        </div>
    </div>
</body>
</html>